<div class="demo">
  <div class="Switch Off">
    <div class="Toggle"></div>
    <span class="On">ON</span> <span class="Off">OFF</span> </div>
</div>

<div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="onoffswitch" checked>
    <label class="onoffswitch-label" for="onoffswitch">
        <span class="onoffswitch-inner" (click)="onActiveSwitchClick()"></span>
        <span class="onoffswitch-switch" (click)="onActiveSwitchClick()"></span>
    </label>
</div>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Search Keys" [(ngModel)]="searchKey" (keyup)="changeData()">
</mat-form-field>
<div class="property-table">
  <mat-table #table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="key">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Key </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.key}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Value </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Active </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.active}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="source">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Source </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.source}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Effective Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.action}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>