<div class="container-box">
  <div class="container">
    <div class="main-header">
      <div class="header-label">
        GBD Member Portal - Web Admin Tool
      </div>
    </div>
    <div class="main-content">
      <div class="main-content-header">
        Lorem Ipsum dolor sit amet
      </div>
      <div class="main-content-details border-bottom0">
        Impersonation Tool<i class="fa fa-chevron-right icon-alignment" aria-hidden="true"></i>
      </div>
      <div class="main-content-details margin-bottom20" (click)="OnClick()">
        Configurable ASL<i class="fa fa-chevron-right icon-alignment" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>